<table  style="margin: 2%">
  <tr>
    <td>
      <h3>Number of Male and Female employees in the company from the year 2010 to 2020</h3>
    <div style="display: block">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
    </div>
  </td>
  <td>
    <h3>Company Income from Clients in Percentage</h3>
  <div style="display: block" *ngIf="isDataAvailable2">
    <canvas baseChart
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType"></canvas>
  </div>
</td>
<td>
  <h3>Increase of Dollors price against Rupees from the year 2010 to 2020</h3>
  <div style="display: block" *ngIf="isDataAvailable3">
    <canvas baseChart
            [data]="lineChartData3"
            [labels]="lineChartLabels3"
            [chartType]="lineChartType3"></canvas>
    </div>


</td>
</tr>
<tr>
  <td>
    <h3>Audi Compnay profit in the year 2018 and 2019 in all the 4 quarters in millions</h3>
  <div style="display: block">
    <canvas baseChart
            [datasets]="radarChartData"
            [labels]="radarChartLabels"
            [chartType]="radarChartType"></canvas>
  </div>
</td>
<td>
  <h3>Age of Employees in Percentage</h3>
  <div style="display: block" *ngIf="isDataAvailable1" >
    <canvas baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"></canvas>
  </div>
</td>
<td>
  <h3>Company Profit from the year 2010 to 2020 in Millions </h3>
  <div style="display: block" *ngIf="isDataAvailable">
  <canvas baseChart
          [data]="lineChartData"
          [labels]="lineChartLabels"
          [chartType]="lineChartType"></canvas>
  </div>
</td>
</tr>
</table>
  <router-outlet></router-outlet>
