
<h1 style="text-align: center;font-size:xx-large;margin-top: 2%;"> Custom Statistics</h1>
<div style="margin-top: 10%;">

    <button mat-raised-button color='accent' style="margin-left: 10%;height: 80px;width: 200px;"> Employee Gender</button>
    <button mat-raised-button color='accent' style="margin-left: 15%;height: 80px;width: 200px;"> Employee Age</button>
    <button mat-raised-button color='accent' style="margin-left: 18%;height: 80px;width: 200px;"> Client Income</button>

</div>
<div style="margin-top: 10%;">
    <button mat-raised-button color='accent' style="height: 80px;margin-left: 10%;width: 200px;"> Yearly Profit</button>
    <button mat-raised-button color='accent' style="height: 80px;margin-left: 15%;width: 200px;"> Weekly Shares</button>
    <button mat-raised-button color='accent' style="height: 80px;margin-left: 18%;width: 200px;"> Weekly Debentuares</button>



</div>

<router-outlet></router-outlet>